body{
  background: #ffffff;
}

h1{
  text-align: center;
  padding-top: 70px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

#topnav{
  padding-top: 30px;
}

#first-par{
  padding-top: 50px;
}


.galleryItem {
 color: #797478;
 font: 10px/1.5 Verdana, Helvetica, sans-serif;
 float: left;
}

.galleryItem h3 {
 text-transform: uppercase;
}

.galleryItem img {
 max-width: 100%;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

#gallery {
 width: 80%;
 margin: 30px auto;
 overflow: hidden;
}
