body{
  background-image: url(img/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  /* padding-top: 70px; */
  color: white;
  font-size: 4em;
  padding-top: 25px;
}

.nav {
  margin-top: 27px;
  display: block;
  width: 100%;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}

a:link{
  color: white;
}
a:visited{
   color: white;
}
a:hover{
   color: red;
}

.nav-item {
  margin: 50px;
  transition: all 1s;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  transition: all 1s;
}

.avatar:hover {
  transform: scale(1.1);
}

#gallery{
  text-align: center;
  padding-top: 100px;

}



#first-par{
  color: white;
  text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

#first-par{
}

.nav-item{
  font-weight: bold;
}

.galleryItem {
 color: #797478;
 font: 10px/1.5 Verdana, Helvetica, sans-serif;
 float: left;
}

.galleryItem h3 {
 text-transform: uppercase;
}

.galleryItem img {
 max-width: 100%;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

#gallery {
 width: 80%;
 margin: 30px auto;
 overflow: hidden;
}

.softuni{
  margin: 50px;
  text-align: center;
}

#softuni{
  color: white;
}

#udemy {
  color: white;
  margin-top: 50px;
}

#telenor {
  color: white;
  margin-top: 50px;
}

#github {
  width: 100px;
  height: 100px;
  transition: all 1s;
}

#github:hover {
  transform: scale(1.1);
}

#facebook {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  transition: all 1s;
}

#facebook:hover {
  transform: scale(1.1);
}

#linkedin {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  transition: all 1s;
}

#linkedin:hover {
  transform: scale(1.1);
}

#instagram {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  transition: all 1s;
}

#instagram:hover {
  transform: scale(1.1);
}

#cont {
  text-align: center;
  margin-top: 100px;
}
